[Desktop Entry]
Name=海天鹰拼图
Comment=
Exec=/media/sonichy/job/HY/Linux/Qt/HTYPinTu/HTYPinTu
Icon=/media/sonichy/job/HY/Linux/Qt/HTYPinTu/icon.png
Path=/media/sonichy/job/HY/Linux/Qt/HTYPinTu
Terminal=false
Type=Application
MimeType=
Categories=
